<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="/css/sample.css" type="text/css">

  </head>
  <body>
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light   ">
      <a class="navbar-brand" href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Lowes_Companies_Logo.svg/2000px-Lowes_Companies_Logo.svg.png" alt="none" width="55" height="33"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="ulclass">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span ><i class="fa fa-bell-o" aria-hidden="true"></i><sup id="super">3</sup></span>
            </a>
            <label for="messages"><div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if(items.length>0){ %>
              <% items.forEach(function(item,index){%>
                
              <a class="dropdown-item" href="#"><span class="spanclass"><i class="fa fa-trash" aria-hidden="true"></i></span><%= item.msg %> </a>
              <%});}%>

           
              <!-- <a class="dropdown-item" href="#"><span class="spanclass"><i class="fa fa-trash" aria-hidden="true"></i></span>Action </a>
              <a class="dropdown-item" href="#"><span class="spanclass"><i class="fa fa-trash" aria-hidden="true"></i></span>Another action</a>
              <a class="dropdown-item" href="#"><span class="spanclass"><i class="fa fa-trash" aria-hidden="true"></i></span>Something else here</a>
              <a class="dropdown-item" href="#"><span class="spanclass"><i class="fa fa-trash" aria-hidden="true"></i></span>Something else here</a> -->
               
            </div></label>
          </li>

        </ul>


    </nav>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- <script type="text/javascript" src="/js/sample.js">

    </script> -->
    <script>
      var sup=document.querySelector('sup');
var elmt=document.querySelector('.dropdown-menu');

sup.innerHTML=$('.spanclass').length; 

var a=0;

    $('.spanclass ').on('click',function(req,res){
		
		  $(this).parent().remove(); 

			sup.innerHTML=$('.spanclass').length;
				 a=$('.spanclass').length;
				 if($('.spanclass').length===0){
					elmt.addClass('n');					
			}
    	  event.stopPropagation();
				
      });
    
      const build = (messages)=>{
        return {
          deleteid : "delete_" + messages._id,
          listitemid: "listitem" + messages._id,
          msgid: "message_" + messages._id
        }
      }
      const buildtemplate = (messages,ids)=>{
        return '<a class="dropdown-item" href="#" id="${ids.listitemid}"><span class="spanclass" id="${ids.msgid}"><i class="fa fa-trash" aria-hidden="true"></i></span><%= item.msg %></a>';
      }



    </script>


  </body>
</html>
