<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<!-- <link rel="stylesheet" href="__dirname+'/opencss.css'"> -->
<link rel="stylesheet" href="/css/opencss.css" type="text/css">
<title>Insert title here</title>
</head>
<body>
<div id="formContainer">
	<h1>Welcome to Lowe's</h1>
	<form id="login" method="post" action="/login">
		<input type="text" name="username" placeholder="Enter Username"> 
		<input type="password" name="password" id="loginPass" placeholder="Enter password"><br> 
		<input type="submit" name="submit" value="Submit">
	</form>
	</div>
	<footer>
	        Welcome to Lowe's ...!
        </footer>
</body>
</html>